**/*.md
**/*.svg
**/*.ejs
**/*.html

.commitlintrc.js
.eslintrc.js
.prettierrc.js
.stylelintrc.js
.umirc.ts
.vscode/settings.json

.umi
.umi-production
.umi-test

dist
package.json
tsconfig.json
typings.d.ts